## BACKEND CONFIG
PORT=3001

## MONGODB CONFIG
MONGODB_URI=mongodb://mongo:27017
MONGODB_NAME=application-db

## REDIS SERVICE CONFIG
REDIS_HOST=redis
REDIS_PORT=6379

## NODEMAILER GMAIL CONFIG
GMAIL_HOST=smtp.gmail.com
GMAIL_USER=yourGmailHere@gmail.com
GMAIL_PASS=yourGmailCodeHere

## JWT CONFIG
JWT_ACCESS_SECRET=a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b23
JWT_ACCESS_EXPIRES=4h